body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  max-width: 1920px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.content {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.margin-top {
  margin-top: 110px;
}


.navbar ul a:hover {
  background-color: #F37621;
  border: none;
  color: white;
}

.logo {
  width: 60px;
  height: 59px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar ul a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
}

.search-icon,
.shopping-icon {
  width: 40px;
}

.menu-icon {
  width: 30px;
  display: none;
}


.banner {
  width: 100%;
  height: 700px;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 50%;
  /* border: 1px solid yellowgreen; */
  text-align: center;
}

.banner-title {
  font-size: 55px;
  padding-bottom: 25px;
}

.banner-content form {
  width: 70%;
  margin: 0 auto;
  padding: 25px 0;
}

.input-container {
  display: flex;
  gap: 15px;
}

.input-container [type='text'] {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: none;
}

form [type='submit'] {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  background-color: #F37621;
  color: white;
}

.notion {
  display: flex;
  align-items: center;
  gap: 100px;
}

.notion-title {
  font-size: 55px;
  padding: 25px 0;
}

.notion-link-btn {
  display: inline-block;
  background-color: #F37621;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
}

.expect {
  height: 650px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expect img {
  height: 100%;
  width: 40%;
}

.expect .number {
  background-color: #F37621;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.expect-card-container {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.expect-card {
  border: 1px solid gainsboro;
  padding: 20px 30px;
  position: relative;
  width: 550px;
}

.expect-card p {
  padding-top: 10px;
}
















/* TABLET RESPONSIVE */
@media (max-width:800px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  .content {
    width: 90%;
  }

  .search-icon,
  .shopping-icon {
    width: 30px;
  }

  .menu-icon {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .banner {
    background-position: center;
    height: 400px;
  }

  .banner-content {
    width: 80%;
  }

  .banner-title {
    font-size: 38px;
  }

  .notion {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }

  .notion-title {
    font-size: 40px;
    padding: 20px 0;
  }

  .expect{
    flex-direction: column;
    gap: 20px;
  }

  .expect-card-container{
    width: 100%;
  }

  .expect img{
    width: 80%;
  }

  .expect-card-container{
    gap: 15px;
  }

  .expect-card{
    width: 100%;
  }
}















/* MOBILE RESPONSIVE */
@media (max-width:500px) {
  .content {
    width: 93%;
  }

  .margin-top {
    margin-top: 70px;
  }

  .navbar {
    padding: 14px 0;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .search-icon,
  .shopping-icon,
  .menu-icon {
    width: 20px;
  }

  .banner {
    background-position: center;
    height: 450px;
  }

  .banner-title {
    padding-bottom: 13px;
  }

  .banner-content form {
    padding: 15px 0;
  }

  .banner-content,
  .banner-content form {
    width: 90%;
  }

  .input-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .banner-title {
    font-size: 28px;
  }

  .notion-image {
    width: 100%;
  }

  .notion-title {
    font-size: 25px;
    padding: 15px 0;
  }

  .notion-link-btn {
    margin-top: 18px;
  }

  .expect{
    flex-direction: column;
    gap: 20px;
    height: auto;
  }

  .expect img {
    width: 100%;
  }

  

}